<div class="row">
  <% films.each do |film| %>
    <div class="container col-xs-4">
      <div>
        <%= image_tag asset_path(film.image.to_s), width: '240', height: '160', class: 'img-responsive' %>
      </div>
      <div class="text-center">
        <% User.left_joins(:watch_relations).select("users.*, watch_relations.*").where(watch_relations: {film_id: film.id, user_id: @user.id}).each do |rate_user| %>
          <!-- display rating number as stars-->
          <% rate_user.rate.times do %>
            <span class="glyphicon glyphicon-star"></span>
          <% end %>
        <% end %>
      </div>
      <div class="text-center">
        <%= link_to film.title, watch_relation_path(WatchRelation.find_by(user_id: @user.id, film_id: film.id).id) %> 
      </div>
    </div>
  <% end %>
  <%= paginate films %>
</div>