<div class="row">
  <% films.each do |film| %>
    <div class="container col-xs-4">
      <div>
        <%= image_tag asset_path(film.image.to_s), class: 'img-responsive film_image' %>
      </div>
      <div class="text-center">
        <%= link_to film.title, film_path(film.id) %>
      </div>
    </div>
  <% end %>
  <%= paginate films %>
</div>