<% if logged_in? %>
  <div class="container">
    <% if current_user.admin? %>
      <%= link_to 'Add film', add_film_path, class: 'btn btn-sm btn-primary' %>
    <% end %>
    <div class="row">
      <%= render 'films/films', films: @films %>
    </div>
  </div>
  <!-- see definition of logged_in? and current_user in app/helpers/sessions_helper.rb -->
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to Film Diary!</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>